<div class="container-fluid" style="padding: 0px">
    <div class="panel panel-default">
        <div class="panel-body" style="text-align: right; background-color:#6C950F"><strong style="color:white;">USECASE</strong></div>
      </div>
    
      <div class="col-md-12 padding:0px">
        <div class="row">
          <div class="col-md-2" (click)="redirect()" *ngIf='!showfleetManagment' style="margin-top:13px">
      
            <img src="../../assets/truck.png" class="img-center img-responsive">
            
             <p style="text-align: center; color:#267872">Fleet Management</p>
    
          </div>
          <div class="col-md-2"  *ngIf='showfleetManagment'>
      
            <img src="../../assets/fleetmanagment_Image.png" class="img-center img-responsive">
            
             <p style="text-align: center; color:#267872"></p>
    
          </div>


    
          <div class="col-md-2" (click)="redirectfleetMaintaince()" *ngIf='!fleetMaintaince' style="margin-top:13px">  
            <img src="../../assets/truck.png" class="img-center img-responsive">
            <p style="text-align: center;color:#267872 ">Fleet Maintaince</p>
    
    
          </div>

          <div class="col-md-2"  *ngIf='fleetMaintaince'>  
            <img src="../../assets/fleetmaintaince_Image.png" class="img-center img-responsive">
            <p style="text-align: center;color:#267872 "></p>
    
    
          </div>
  
  

          <div class="col-md-2" style="margin-top:13px">  
            <img src="../../assets/truck.png" class="img-center img-responsive">
            <p style="text-align: center;color:#267872">Vehicle Route Tracking</p>
    
          </div>
       
          
         
         
        </div>
      </div>

</div>
<app-reports *ngIf="showChild"></app-reports>
<app-vehicledata *ngIf="showHealth"></app-vehicledata>